.operation-btn {
  min-width: 62px !important;
  line-height: 36px !important;
  padding: 0 !important;
  font-size: 12px !important;
}
.add-post{
  position: relative;
  right: 20px;
  top:15px;
  color: rgba(0, 109, 187, 1) ;
}
