:host {
  display: block;
  box-sizing: border-box;
}
.event-card-img{
  height: 110px;
  width: auto!important;
  float: right;
  margin: 0px 0px 1rem 1rem!important;
}
.event-title{
  height: 120px;
}
.event-card{
  padding-left: 1rem;
  padding-right: 1rem;
}
.mr-2{
  margin-right: 0px!important;
}
